# Q1

In [ ]:
Write a program that takes two numbers(a = 15, b= 4) and prints their

# sum

a = 15
b = 14

sum = a + b
print("The sum of a and b is:", sum)

# Difference

In [8]:
a = 15
b =14

difference = a - b
print("The difference of a and b is:", difference)

The difference of a and b is: 1

# Product

In [9]:
a = 15
b = 15

product = a * b
print("The product of a and b is:", product)

The product of a and b is: 225

# Division

In [12]:
a = 15
b =14

division = a / b
print(" The division of a by b is:", division)

 The division of a and b is: 1.0714285714285714

# Floor Division //

In [17]:
a = 15
b = 14

floor_division = a // b
print("The floor division of a by b is:", floor_division)

The floor division of a by b is: 1

# Modulus ## reminder

a = 15
b = 14

reminder = a % b
print("The reminder when a is divided by b:", reminder)

# Q2

In [ ]:
Check the type and convert: (num1 = 10, num2 = 5.6, num3 = 4.43, num4 = '23')
Integer to float
Flot to integer
Float to String
String to Integer

In [27]:
num1 = 10
num2 = 5.6
num3 = 4.43
num4 = "23"

print(float(int(num1)))
print(int(float(num2)))
print(str(float(num3)))
print(int(str(num4)))

10.0
5
4.43
23

# Q3  Variable

Write a code to store your favorite food in a avariabe and print it.

In [11]:
favorite_food = 'Mutton Kunna'
print(favorite_food)

Mutton Kunna

# Q4

In [ ]:
"I have 2 apples and 33 mangoes. 
How many fruits do i have in total?"

In [30]:
apple = 22
mangoes = 33

total_fruits = apple + mangoes
print('Totoal Numbers of fruits:', total_fruits)

Totoal Numbers of fruits: 55

# Q5

In [ ]:
Store in avariable. Write your name, Your age, Add 1 to your age
using a variable, print final age.

In [1]:
name = "Bashir"
age = 38

new_age = age + 1
print("Name:", name)
print('Final_Age:', new_age)

Name: Bashir
Final_Age: 39

# Q6

add a and b
Subtract c and a
Multiply d and b
Divide c and d (float division)
Find modulus of c divided by d
Square of (d+b)

In [3]:
a = 2
b = 1

c = a + b
print(c)

3

In [4]:
c = 6
a = 2

b = c - a
print(b)

4

In [5]:
d = 3
b = 1

a = d * b
print(a)

3

In [6]:
c = 6
d = 3

b = c / d
print(b)

2.0

In [7]:
c = 6
d = 3

reminder = 6 % 3
print(reminder)

0

In [8]:
d = 3
a =2

result = (d + a) **2
print(result)

25

# Q7

In [ ]:
Convert a to integer then add to c.
Convert b to float then multiply by c.
Convert c to integer then add to c.

In [16]:
a = '2'             # convert a to integer then add to c.
c = 6.3


a = int(a)
b = a + c

print(b)

8.3

In [17]:
b = '11'              # convert a to integer then add to c.
c = 6.3

b = float(b)
x = b * c
print(x)

69.3

In [19]:
c = 6.3                #  convert c to integer then add to c.
c = int(c)

y = c + c
print(y)

12

# Q8

In [ ]:
You were 20 years old in the years 2020. Now add 5 more years to your age. What is your curren age noe?
store age in a variable called age. Print final ouput in same variable.

In [3]:
age = 20 + (25 - 20) 
print(age)

25

# Q9

In [ ]:
You had 12 books, and you gave 4 to your friend. How many books do you have now?
Store books in a variable called books.
Print final output in same variable.

In [6]:
books = 12 - 4
print(books)

8

# Q10

In [ ]:
You baked 5 cookies. You baked 3 times more cookies toda. How many cookies did you bake today?
Store cookies in a variable called cookies. Print final output in same variable.

In [7]:
cookies = 5 * 3

print(cookies)

15