# *** str   float   str ***

In [11]:
"Hello World"

'Hello World'

In [4]:
# str
print('Hello World')
print("Hello World")
print("ali's house")

Hello World
Hello World
ali's house

In [5]:
"My Name is Bashir"

'My Name is Bashir'

In [7]:
# int
print(2000)
print(type(2000))

2000
<class 'int'>

In [9]:
# float
print(18.4)
print(type(18.4))

18.4
<class 'float'>

## *** TYPE CASTING VARIABLES ***

In [15]:
# CAN PRINT ALSO
# CONVERT FLOAT 12.36 TO INT

print(int(float(12.36)))
print(type(int(float)))

12

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'type'

In [16]:
print(int(float(12.36)))
print(type(int))

12
<class 'type'>

### Convert str "2000" to int and show the result Print the type of the converted "2000"

In [26]:
print(int(str("2000")))
print(type(int))

2000
<class 'type'>

In [27]:
# for print int with class and type:

print(int(str('2000')))
print(type(int("2000")))

2000
<class 'int'>

In [30]:
# for print str wit decimal:

print(int(float('34.88')))
print(type(int(float("34.88"))))

34
<class 'int'>

In [32]:
# Convert int into str 

print(str(123))
print(type(str(123)))

123
<class 'str'>

In [36]:
# Convert str into int

print(int("4500"))
print(type(int("4500")))

4500
<class 'int'>

In [37]:
# Convert float into str

print(str(float(66.98)))
print(type(str(66.88)))

66.98
<class 'str'>